<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top app-bar">
  <div class="container-fluid white-text">
    <div class="row align-items-center panel-header" routerLink="/panel">
      <h2>
        Panel Administracyjny
      </h2>     
    </div> 
    <div *ngIf="authenticationService.isUserLoggedIn()" class="row align-items-center btn btn-primary" (click)="logOut()">
      Wyloguj
  </div>
  </div>
</nav>
<div style="width: 100%; height: 4rem"></div>
<router-outlet></router-outlet>

