<div class="m-2">
  <div>
    <button class="btn btn-md btn-outline-primary mr-1" routerLink="/panel/products">Powrót</button>
  </div>
  <form>
    <div class="form-group row">
      <label for="name-input" class="col-sm-2 col-form-label">Nazwa Produktu: </label>
      <div class="col-sm-4">
        <input type="text" class="form-control" id="name-input" [(ngModel)]="product.name" name="name">
      </div>
    </div>
    <div class="form-group row">
      <label for="desc-input" class="col-sm-2 col-form-label">Opis Produktu: </label>
      <div class="col-sm-4">
        <textarea rows="4" class="form-control" id="desc-input" [(ngModel)]="product.desc" name="desc"></textarea>
      </div>
    </div>
    <div class="form-group row">
      <label for="price-input" class="col-sm-2 col-form-label">Cena: </label>
      <div class="col-sm-4">
        <input type="number" class="form-control" id="price-input" [(ngModel)]="product.price" name="price">
      </div>
    </div>
    <div class="form-group row">
      <label for="quantity-input" class="col-sm-2 col-form-label">Ilość: </label>
      <div class="col-sm-4">
        <input type="number" class="form-control" id="quantity-input" [(ngModel)]="product.quantity" name="quantity">
      </div>
    </div>
    <div class="form-group row">
      <label for="img-source-input" class="col-sm-2 col-form-label">Źródło obrazka: </label>
      <div class="col-sm-4">
        <input type="text" class="form-control" id="img-source-input" [(ngModel)]="product.imageSource" name="source">
      </div>
    </div>
    <div class="form-group row">
      <label for="category-input" class="col-sm-2 col-form-label">Kategoria: </label>
      <div class="col-sm-4">
        <select type="text" class="form-control" id="category-input" [(ngModel)]="selectedCategoryName" name="category">
          <option *ngFor="let category of categories">{{category.name}}</option>
        </select>
      </div>
    </div>
    <button class="btn btn-primary" (click)="insertProduct()">Zapisz</button>
  </form>
</div>