<div class="menu-container container">
  <div class="col-md-5">
    <div class="row mt-2">
      <button class="btn btn-block btn-lg btn-primary" routerLink="/panel/products">Konfiguracja Produktów</button>
    </div>
    <div class="row mt-1">
      <button class="btn btn-block btn-lg btn-primary" routerLink="/panel/orders">Obsługa zamówień</button>
    </div>
    <div class="row mt-1">
      <button class="btn btn-block btn-lg btn-primary" routerLink="/panel/discounts">Zarządzanie promocjami</button>
    </div>
  </div>
</div>